body, html {
    cursor: url('dogs/paw.svg'), default;
    height: 100%;
    margin: 0;
    font-family: "Lilita One", sans-serif;
  }


  .video-header {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Adjust height as needed */
    width: 100%;
  }
  
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
  }
  
  .header-title {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 70px;
    opacity: 75%;
    -webkit-text-stroke: .15vw white;
    text-stroke: .15vw white;
    -webkit-text-fill-color: transparent; /* Fallback for non-webkit browsers */
    text-fill-color: transparent; /* Fallback for non-webkit browsers */
  }
  
  .header-title span {
    -webkit-text-fill-color: #b82a2c; /* Fallback for non-webkit browsers */
    text-fill-color: #b82a2c; /* Fallback for non-webkit browsers */
    -webkit-text-stroke: .15vw white;
    text-stroke: .15vw white;
  }
  
  .header-title .gold {
    -webkit-text-fill-color: #b82a2c;
    text-fill-color: #b82a2c;
    -webkit-text-stroke: .15vw white;
    text-stroke: .15vw white;
  }
  
  .subheader {
    font-size: 2em;
    color: white;
  }
  
  .byline {
    font-size: 1em;
    color: black;
    margin-top: 10px;
    font-weight: 100;
    font-family: "DM Serif Display", serif;
  }
  
  /* Add media queries for responsiveness */
  @media (max-width: 768px) {
    .header-title {
      font-size: 2em;
    }
    .subheader {
      font-size: 1.5em;
    }
  }

/*body text */
.body-text {
  font-family: "Times New Roman", serif;
  width: 40%; /* This confines the text to the right half of the screen */
  text-align: left; /* This aligns the text within the .body-text element */
  margin: auto;
  margin-left: 50%; /* This pushes the text to the right half of the screen */
  font-size: 20px;
  margin-top: 2%;
  line-height: 28px; /* This increases the line spacing */
  overflow-y: scroll; /* This allows the images to scroll if they exceed the height of the screen */
  scrollbar-width: none; /* This hides the scrollbar */
  height: 100%;
}

.body-text::-webkit-scrollbar {
  display: none; /* This hides the scrollbar for Chrome, Safari and Opera */
}

.image-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  height: 100%;
  
}

.image-container::-webkit-scrollbar {
  display: none; /* This hides the scrollbar for Chrome, Safari and Opera */
}

.image-container img {
  width: 75%;
  height: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.body-text, .motion-image-container {
  flex: 1;
}

.motion-image-container img {
  width: 100%;
  height: auto;
  margin-bottom: -200px; /* Adjust the space between images */
}
